<% if @friend %>
<!-- could call full_name on undefined if not first checking for @friend
 -->
 <h1><%= @friend.full_name %></h1>
 <p>Do you really want to friend <%= @friend.full_name %>?</p>
 <%= form_for @user_friendship, method: :post do |form| %>
	 	<div class="form form-actions">

	 		<!-- hidden field keeps track of friend_id when going from this form to the create action -->
	 		<%= form.hidden_field :firend_id, value: @friend %>
	 		<%= submit_tag "Yes, Add Friend", class: 'btn btn-primary' %>
	 		<%= link_to "Cancel", profile_path(@friend), class: 'btn' %>
	 	</div>
 	<% end %>
<% end %>