<div class="row">
  <div class="span4">

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { class: "well" }) do |f| %>
  <%= devise_error_messages! %>

    <fieldset>
      <legend>Sign up</legend>

      <div><%= f.label :first_name %><br />
      <%= f.text_field :first_name %></div>

      <div><%= f.label :last_name %><br />
      <%= f.text_field :last_name %></div>

      <div><%= f.label :profile_name %><br />
      <%= f.text_field :profile_name %></div>

      <div><%= f.label :email %><br />
      <%= f.email_field :email, :autofocus => true %></div>

      <div><%= f.label :password %><br />
      <%= f.password_field :password %></div>

      <div><%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %></div>
    </fieldset>

    <div><%= f.submit "Sign up" %></div>
  <% end %>


  <%= render "devise/shared/links" %>
  </div>

  <div class="span8">
    <h3>Mark 5:19</h3>
    <h5>{ Jesus didn't allow the man to go. He said, “Go home to your family and friends. Tell them about all that the Lord did for you. Tell them how the Lord was good to you.” }</h5>
    <hr>
  </div>
</div>  
