<%= simple_form_for(@testimony, html: { class: "form-horizontal" }) do |f| %>
  <% if @testimony.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@testimony.errors.count, "error") %> prohibited this testimony from being saved:</h2>

      <ul>
      <% @testimony.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :content %>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
