<div class="page=header">
  <h1>All Testimonies</h1>
</div>

<% @testimonies.each do |testimony| %>
<div class="testimony">
  <div class="row">
    <div class="span1">

<!-- all models have to_param method that's called when passing the model into a URL helper like 'link_to'. ProfilesController show action is expecting 'name' rather than 'ID' to find the specified user though. Fixed by defining to_param method to return profile_name in users.rb
 -->      <%= link_to image_tag(testimony.user.gravatar_url), profile_path(testimony.user) %>
    </div>
    <div class="span7">
      <strong><%= testimony.user.full_name %></strong>
      <p><%= testimony.content %></p>
      <div class="meta">
        <%= link_to time_ago_in_words(testimony.created_at) + " ago", testimony %>
        <span class="admin">
        | <%= link_to "Edit", edit_testimony_path(testimony) %> |
        <%= link_to "Delete", testimony, method: :delete, data: { confirm: "Are you sure you'd like to delete this testimony?" }  %>
        </span>
      </div>
    </div>
  </div>
</div>
<br>
<% end %>  

<%= link_to "Post a New Testimony", new_testimony_path, class: "btn btn-success" %>


