<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @testimony.user.full_name %>
</p>

<p>
  <b>Content:</b>
  <%= @testimony.content %>
</p>


<%= link_to 'Edit', edit_testimony_path(@testimony) %> |
<%= link_to 'Back', testimonies_path %>
